@page "/registrarme"
@inject IBlogService blogService
@inject CreateUserValidator createUserValidator
@inject LoaderService loaderService

@using simple_crud.Client.Infrastructure
@using simple_crud.Client.Validator.User
@using simple_crud.Library.Models.DTOs

<h3>Registrarme</h3>

<form onsubmit="@OnSubmit">

    <div class="form-input">
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" @bind="Model.Username" />
        @if (ValidationErrors.ContainsKey(nameof(Model.Username)))
        {
            <p class="input-error">@ValidationErrors[nameof(Model.Username)]</p>
        }
    </div>

    <div class="form-input">

        <label for="password">Contraseña</label>
        <input type="password" id="password" @bind="Model.Password" />
        @if (ValidationErrors.ContainsKey(nameof(Model.Password)))
        {
            <p class="input-error">@ValidationErrors[nameof(Model.Password)]</p>
        }
    </div>

    <div class="form-input">

        <label for="confirmpassword">Confirmar contraseña</label>
        <input type="password" id="confirmpassword" @bind="Model.ConfirmPassword" />
        @if (ValidationErrors.ContainsKey(nameof(Model.ConfirmPassword)))
        {
            <p class="input-error">@ValidationErrors[nameof(Model.ConfirmPassword)]</p>
        }
    </div>

    <input type="submit" value="Confirmar" />
</form>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p style="color:red">@ErrorMessage</p>
}

@code {
    private RegisterViewModel Model { get; set; } = new();
    private Dictionary<string, string> ValidationErrors { get; set; } = new();
    private string ErrorMessage { get; set; } = string.Empty;

    private async Task OnSubmit()
    {
        ErrorMessage = string.Empty;
        ValidationErrors.Clear();

        var validationResult = await createUserValidator.ValidateAsync(Model);

        if (!validationResult.IsValid)
        {
            foreach (var error in validationResult.Errors)
            {
                // Guardamos el primer error por propiedad
                if (!ValidationErrors.ContainsKey(error.PropertyName))
                    ValidationErrors[error.PropertyName] = error.ErrorMessage;
            }
            return; // detenemos aquí si hay errores
        }

        try
        {
            loaderService.Show();

            var dto = new CreateUsuarioDTO
            {
                Username = Model.Username!,
                Password = Model.Password!
            };

            var operationRegister = await blogService.RegisterAsync(dto);

            if (!operationRegister.Success)
                ErrorMessage = operationRegister.Message!;
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Ocurrió un error inesperado: {ex.Message}";
        }
        finally
        {
            loaderService.Hide();
        }
    }
}
